<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board | <%= title %></title>
</head>
<body>
    <header>
        <h1>Mini Message Board</h1>
        <p>You can add any message that you want to our board!</p>
    </header>

    <main>
        <p>Here you can create a new message:</p>
        <form method="post" action="/new">
            <label for="author">Author: 
                <input type="text" name="author">
            </label>
            <br>
            <label for="message">Message: 
                <input type="text" name="message">
            </label>
            <br>
            <button>Create</button>
        </form>
    </main>
</body>
</html>